.modal {
	position: fixed;
	z-index: 7;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6); 
	display: none;
	padding-top: 10%;

	.modal__block {
		top: 5%;
		max-width: 596px;
		height: 361px;
		margin: auto;
		padding-top: 9px;
		padding-bottom: 27px;
		border: 1px solid #ffffff;
		background-color: #353436;
	}
	.modal__header {
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.modal__header-title {
		margin: 0;
		color: #ffffff;
		font-family: 'Playfair Display', serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 23.7px;
		text-transform: uppercase;
	}
	.modal__header-close {
		position: absolute;
		top: 0;
		right: 18px;
		cursor: pointer;
	}
	.modal__wrap {
		display: flex;
		justify-content: space-between;
		padding-left: 77px;
		padding-right: 79px;
	}
	.modal__item {
		max-width: 184px;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
	.modal__title-form {
		margin: 0;
		margin-bottom: 13px;
		color: #ffffff;
		font-family: 'Playfair Display', serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 23.7px;
		text-transform: uppercase;
	}
	.modal__form {
		width: 100%;
	}
	.modal__input {
		@include inputForm;
		height: 31px;
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 7px;
		padding: 10px 10px 9px;

		input::placeholder {
			color: #b5b4b4;
		}

		&:last-child{
			margin-bottom: 14px;
		}
	}

	.modal__button {
			@include buttonBlack;
			height: 31px;
			line-height: 24px;
			padding: 0;
			margin-bottom: 5px;
	}

	.modal__link {
		color: #b5b4b4;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		text-decoration: none;

		&:hover {
			color: #ffffff;
		}
	}

	.modal__label {
		@include labelForm;
	}

	.modal__checkbox {
		@include checkboxForm;
	}
}