.promo {
	position: absolute;
	max-width: 1200px;
	bottom: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	transition: 1s;
	z-index: 4;

	.promo__up {
		display: flex;
		justify-content: center;
	}
	.promo__up-button {
		padding: 7px 23px 1px 22px;
		background-color: #ffffff;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #cacaca;
		}
		&:focus, &:active {
			outline: none;
		}
	}

	.promo__up-button.rotated {
		transform: rotate(180deg);
	}

	.promo-row {
		display: flex;
		justify-content: center;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s linear;
	}

	.promo-column1 {
			background-color: #e2d1a6;
	}

	.promo-column2 {
			background-color: #ffffff;
	}

	.promo-column3 {
			background-color: #000000;
	}

	.promo-column1, .promo-column2, .promo-column3 {
		max-width: 400px;
		height: 172px;
		padding: 14px 21px 8px 15px;

		@media (max-width: 991px) {
			height: 100px;
			padding: 10px;
		}
	}

	.promo__title {
		min-height: 60px;
		margin: 0;
		margin-bottom: 6px;
		color: #000000;
		font-family: 'Playfair Display', serif;
		font-size: 28px;
		font-weight: 700;
		line-height: 30px;

		@media (max-width: 991px) {
			min-height: 20px;
			font-size: 16px;
			line-height: 18px
		}
	}

	.promo__description {
		margin: 0;
		margin-bottom: 12px;
		color: #000000;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 24.99px;

		@media (max-width: 991px) {
			min-height: 20px;
			font-size: 10px;
			line-height: 14px;
			margin-bottom: 4px;
		}
	}

	.promo-wrap {
		display: flex;
		justify-content: flex-end;
	}

	.promo__link {
		color: #000000;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 24.99px;
		text-decoration: none;

		&:hover {
			color: #7c7c7c;
		}

		@media (max-width: 991px) {
			min-height: 20px;
			font-size: 12px;
			line-height: 14px;
		}
	}

	.promo__link_line {
		text-decoration: underline;
	}

	.promo__link_white, .promo__title_white, .promo__link_white {
		color: #ffffff;
	}

	.promo__description_white-fe {
		color: #fefefe;
	}
}