.slider {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: calc(100% - 130px);

	@media (max-width: 991px) {
		height: calc(100% - 100px);
	}

	.swiper__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.slider__overlay {
			position: absolute;
			z-index: 1;
			top: 33%;
			right: 0;
			max-width: 531px;
			background-color: #ffffff;
			opacity: 0.85;
			padding: 18px 41px 19px 27px;

			@media (max-width: 991px) {
					padding: 16px;
			}
			@media (max-width: 767px) {
					padding: 10px;
			}
	}

	.slider__overlay-title {
		margin: 0;
		margin-bottom: 30px;
		color: #020202;
		font-family: 'Playfair Display', serif;
		font-size: 30px;
		font-weight: 700;
		line-height: 24px;
		font-style: italic;
		text-transform: uppercase;

		@media (max-width: 991px) {
			font-size: 22px;
			line-height: 18px;
			margin-bottom: 16px;
		}
		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 14px;
			margin-bottom: 10px;
		}
	}

	.slider__overlay-description {
		margin: 0;
		color: #000000;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;

		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 14px;
		}
	}
}