@mixin textNormal {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
@mixin inputForm {
    width: 100%;
    height: 32px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.4px;
    margin-bottom: 12px;
    padding: 11px 6px 9px;
    border: none;
    outline: none;

    input::placeholder { 
        color: #8c8c8c; 
    } 
}
@mixin buttonBlack {
    width: 100%;
    height: 32px;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.58px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #000000;
        transition: 0.9s;
    }
}
@mixin labelForm {
    color: #b5b4b4;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;

    &:hover {
        color: #ffffff;
    }
}
@mixin checkboxForm {
    width: 10px;
    height: 10px;
    margin: 0;
    margin-left: 1px;
    margin-right: 8px;
    cursor: pointer;
}
@mixin linkNav {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        color: #e2d1a6;
    }
    &:focus {
        color: #e2d1a6;
        font-weight: 700;
    }
}

* {
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container {
    max-width: 967px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-wide{
    max-width: 1241px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
}
.topbar {
    background-color: #353436;
    height: 130px;
    padding: 0 40px;

    @media (max-width:991px) {
        padding: 0 20px;
        height: 100px;
    }
    @media (max-width:767px) {
        padding: 0 10px;      
    }

    .topbar__wrap {
        display: flex;
        justify-content: flex-end;
    }
    .topbar__reserve {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    
        &:hover {
            color: #e2d1a6;
        }
    }
    .topbar__reserve-text {
        margin-right: 10px;
    }
    .topbar__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width:991px) {
            align-items: center;
        }
    }
    .topbar__logo {
        min-width: 283px;
        height: 83px;

        @media (max-width:991px) {
            min-width: 230px;
            height: 63px;
        }
    }
    .topbar__logo-img {
        width: 100%;
        height: 100%;
    }
    .topbar__nav{
        @media (max-width: 991px) {
            display: none;
        }
    }
    .topbar__nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .topbar__nav-list-item {
        position: relative;
        margin-right: 27px;
        line-height: 13px;
    
        &:last-child {
            margin-right: 0;
        }
        &:hover > .topbar__nav-list-dropdown {
            display: block;
        }
    }
    .topbar__nav-list-link {
        @include linkNav;
    }
    .topbar__nav-list-dropdown {
        z-index: 7;
        position: absolute;
        max-width: 149px;
        padding: 28px 8px 7px 9px;
        background-color: #353436;
        list-style: none;
        top: 17px;
        left: -9px;
        display: none;
    }
    .topbar__nav-list-dropdown_item {
        border-bottom: 1px solid #ffffff;
        padding: 2px 8px;

        &:last-child {
            border: none;
        }
    }
    .topbar__nav-list-dropdown_item-link {
        @include textNormal;
        font-size: 16px;
        text-decoration: none;

        &:hover {
            color: #e2d1a6;
        }
        &:focus {
            color: #e2d1a6;
            font-weight: 700;
        }
    }
    .topbar__nav-button {
        @media (min-width: 991px) {
            display: none;
        }
    }
    .topbar__menu-icon-wrapper {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .topbar__menu-icon {
        position: relative;
        width: 30px;
        height: 5px;
        background-color: #ffffff;
    }
    
    .topbar__menu-icon::before {
        position: absolute;
        left: 0;
        top: -10px;
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background-color:  #ffffff;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    
    .topbar__menu-icon::after {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background-color:  #ffffff;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    
    .topbar__menu-icon.topbar__menu-icon-active {
        background-color: transparent;
    }
    
    .topbar__menu-icon.topbar__menu-icon-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .topbar__menu-icon.topbar__menu-icon-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .topbar__menu {
        width: 100%;
        position: absolute;
        left: 0;
        top: 100px;
        min-height: 0;
        overflow: auto;
        background: rgba(0, 0, 0, 0.7);
        transition: 0.5s;
        transform: translateX(200%);
        z-index: 2;

        @media (min-width: 991px) {
            display: none;
        }
    }
    .topbar__menu.opened{
        height: 100%;
        transform: translateX(0);
    }
    .topbar__menu-nav {
        padding-top: 30px;
        padding-right: 50px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40%;
        list-style: none;
        background: #000000;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 767px) {
            padding-top: 20px;
            padding-right: 10px;
        }
        
    }
    .topbar__menu-nav-item{
        list-style: none;
        margin-bottom: 10px;
    }
    .topbar__menu-nav-link {
        @include linkNav;

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.modal {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
    display: none;
    padding-top: 10%;

    .modal__block {
        top: 5%;
        max-width: 596px;
        height: 361px;
        margin: auto;
        padding-top: 9px;
        padding-bottom: 27px;
        border: 1px solid #ffffff;
        background-color: #353436;
        
    }
    .modal__header {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .modal__header-title {
        margin: 0;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 23.7px;
        text-transform: uppercase;
    }
    .modal__header-close {
        position: absolute;
        top: 0;
        right: 18px;
        cursor: pointer;
    }
    .modal__wrap {
        display: flex;
        justify-content: space-between;
        padding-left: 77px;
        padding-right: 79px;
    }
    .modal__item {
        max-width: 184px;
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }
    }
    .modal__title-form {
        margin: 0;
        margin-bottom: 13px;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 23.7px;
        text-transform: uppercase;
    }
    .modal__form {
        width: 100%;
    }
    .modal__input {
        @include inputForm;
        height: 31px;
        color: #000000;
        font-size: 16px; 
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 7px;
        padding: 10px 10px 9px;

        input::placeholder { 
            color: #b5b4b4;
        } 
        &:last-child{
            margin-bottom: 14px;
        }
    }
    .modal__button {
        @include buttonBlack;
        height: 31px;
        line-height: 24px;
        padding: 0;
        margin-bottom: 5px;
    }
    .modal__link {
        color: #b5b4b4;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            color: #ffffff;
        }
    }
    .modal__label {
        @include labelForm;
    }
    .modal__checkbox {
        @include checkboxForm;
    }
}

.slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100% - 130px);

    @media (max-width: 991px) {
        height: calc(100% - 100px);
    }

    .swiper__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .slider__overlay {
        position: absolute;
        z-index: 1;
        top: 33%;
        right: 0;
        max-width: 531px;
        background-color: #ffffff;
        opacity: 0.85;
        padding: 18px 41px 19px 27px;

        @media (max-width: 991px) {
            padding: 16px;
        }
        @media (max-width: 767px) {
            padding: 10px;
        }
    }
    .slider__overlay-title {
        margin: 0;
        margin-bottom: 30px;
        color: #020202;
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        font-style: italic;
        text-transform: uppercase;

        @media (max-width: 991px) {
            font-size: 22px;
            line-height: 18px;
            margin-bottom: 16px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 14px;
            margin-bottom: 10px;
        }
    }
    .slider__overlay-description {
        margin: 0;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        
        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.promo {
    position: absolute;
    max-width: 1200px;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    transition: 1s;
    z-index: 4;

    .promo__up {
        display: flex;
        justify-content: center;
    }
    .promo__up-button {
        padding: 7px 23px 1px 22px;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        
        &:hover {
            background-color: #cacaca;
        }
        &:focus, &:active {
            outline: none;
        }
    }
    .promo__up-button.rotated {
        transform: rotate(180deg);
    }
    .promo-row {
        display: flex;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s linear;
    }
    .promo-column1 {
        background-color: #e2d1a6;
    }
    .promo-column2 {
        background-color: #ffffff;
    }
    .promo-column3 {
        background-color: #000000;
    }
    .promo-column1, .promo-column2, .promo-column3 {
        max-width: 400px;
        height: 172px;
        padding: 14px 21px 8px 15px;

        @media (max-width: 991px) {
            height: 100px;
            padding: 10px;
        }
    }
    .promo__title {
        min-height: 60px;
        margin: 0;
        margin-bottom: 6px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;

        @media (max-width: 991px) {
            min-height: 20px;
            font-size: 16px;
            line-height: 18px
        }
    }
    .promo__description {
        margin: 0;
        margin-bottom: 12px;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.99px;

        @media (max-width: 991px) {
            min-height: 20px;
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 4px;
        }
    }
    .promo-wrap {
        display: flex;
        justify-content: flex-end;
    }
    .promo__link {
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.99px;
        text-decoration: none;

        &:hover {
            color: #7c7c7c;
        }

        @media (max-width: 991px) {
            min-height: 20px;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .promo__link_line {
        text-decoration: underline;
    }
    .promo__link_white, .promo__title_white, .promo__link_white {
        color: #ffffff;

    }
    .promo__description_white-fe {
        color: #fefefe;
    }
}


.footer {
    background-color: #353436;
    padding-top: 33px;
    padding-bottom: 12px;

    @media (max-width:767px) {
        padding-top: 12px;
    }

    .footer__row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;

        @media (max-width: 767px) {
            display: none
        }
    }
    .footer__column {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
    .footer__title {
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 23.93px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 18px;
    }
    .footer__title_bottom {
        margin-bottom: 22px;
    }
    .footer__description {
        max-width: 190px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 17.4px;
        margin: 0;
    }
    .footer__wrap {
        width: 184px;
        margin-left: 2px;
    }
    .footer__form { 
        width: 100%;
    }
    .footer__input {    
        @include inputForm;
    
        &:last-child {
            margin-bottom: 2px;
        }
    }
    .footer__label {
        @include labelForm;
    }
    .footer__checkbox {
        @include checkboxForm;
    }
    .footer__button {
        @include buttonBlack;
    }
    .footer__cop {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
    .footer__info {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;

        @media (max-width: 767px) {
            text-align: center;
        }
    }
    .footer__info-text {
        margin-right: 12px; 
    }
    .footer__info-text_tv {
        margin-left: 3px;
    }
    .footer__wrap_bottom {
        display: flex; 

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    .footer__social {
        margin-right: 87px;

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
    .footer__social-item {
        text-decoration: none;
        color: #ffffff;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }
    }
    .footer__lang {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    .footer__lang-link {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400; 
        line-height: 24px;
        text-transform: uppercase;
        margin-right: 10px;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #e2d1a6;
        }
    }
    .footer__lang-line {
        width: 1px;
        height: 12px;   
        margin-right: 9px;
        background-color: #ffffff;
    }
}



